* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #4a4a4a;
  color: #f1f1f1;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

button {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
